%p
  %a.btn.btn-primary{ "ng-click" => "new()" }
    = t("new")

%table.table.table-hover.mail_applications
  %tr
    %th.name= MailApplication.human_attribute_name :name
    %th.unread_mails_count= t('.unread_mails_count')
    %th.owner= t('.owner')
    %th.actions
  %div
    %tr(ng-repeat="mail_app in items")
      %td
        %a{ "href" => '', "ng-click" => "show(mail_app)" } {{mail_app.name}}
      %td {{mail_app.unreadMailsCount}}
      %td {{mail_app.ownerNickname}}

      %td
        %a.btn.btn-info.nowrap{ "ng-click" => "edit(mail_app)" }
          %i.icon-edit
          = t("edit")
        %span{"ng-if" => "mail_app.currentUserCanDeleteApp"}
          %a.btn.btn-danger.nowrap{ "ng-click" => "delete(mail_app)", data: { :confirm => t(:are_you_sure?) } }
            %i.icon-trash
            = t("delete")
%br