%p
  %a.btn.btn-primary{ "ng-click" => "new()" }
    = t("new")

%table.table.table-hover.mail_applications
  %tr
    %th.name= MailApplication.human_attribute_name :name
    %th.unread_mails_count= t('.unread_mails_count')
    %th.owner= t('.owner')
    %th.actions
  %div
    %tr{ "ng-show" => "mailApplicationsLoading" }
      %td
        = image_tag "loading.gif"
    %tr(ng-repeat="mailApp in mailApplications")
      %td
        %a{ "href" => '', "ng-click" => "show(mailApp)" } {{mailApp.name}}
      %td {{mailApp.unread_mails_count}}
      %td {{mailApp.creator_nickname}}

      %td
        %a.btn.btn-info.nowrap{ "href" => '', "ng-click" => "edit(mailApp)" }
          %i.icon-edit
          = t("edit")
        %span{"ng-if" => "mailApp.current_user_can_delete_app"}
          %a.btn.btn-danger.nowrap{ "href" => '', "ng-click" => "destroy(mailApp)" }
            %i.icon-trash
            = t("delete")
%br