%h1= t 'all applications'
%a.btn.btn-primary{ "ng-click" => "new()" }
  = t("new application")
%br
%p
%table.table.table-hover.mail_app_table
  %tr
    %th
      %a{ "href" => '', "ng-click" => "sortMailAppsByName()" }
        .name.d_ib= MailApplication.human_attribute_name :name
        .sort_desc.d_ib{ "ng-if" => "predicate == 'name' && reverse == false" }
          ▼
        .sort_asc.d_ib{ "ng-if" => "predicate == 'name' && reverse == true" }
          ▲
    %th
      %a{ "href" => '', "ng-click" => "sortMailAppsByUnreadMailsCount()" }
        .unread_mails_count.d_ib= t('.unread_mails_count')
        .sort_desc.d_ib{ "ng-if" => "predicate == 'unread_mails_count' && reverse == false" }
          ▼
        .sort_asc.d_ib{ "ng-if" => "predicate == 'unread_mails_count' && reverse == true" }
          ▲
    %th
      %a{ "href" => '', "ng-click" => "sortMailAppsByCreatorNickname()" }
        .creator.d_ib= t('.creator')
        .sort_desc.d_ib{ "ng-if" => "predicate == 'creator_nickname' && reverse == false" }
          ▼
        .sort_asc.d_ib{ "ng-if" => "predicate == 'creator_nickname' && reverse == true" }
          ▲
    %th.actions
  %div
    %tr{ "ng-show" => "mailAppsLoading" }
      %td
        = image_tag "loading.gif"
    %tr(ng-repeat="mailApp in currentShowingMailApps")
      %td
        %a{ "href" => '', "ng-click" => "show(mailApp)" } {{mailApp.name}}
      %td {{mailApp.unread_mails_count}}
      %td {{mailApp.creator_nickname}}

      %td
        %span{"ng-if" => "mailApp.current_user_can_delete_app"}
          .pull-right
            %a.btn.btn-info.nowrap{ "href" => '', "ng-click" => "edit(mailApp)" }
              %i.icon-edit
            %a.btn.btn-danger.nowrap{ "href" => '', "ng-click" => "destroy(mailApp)" }
              %i.icon-trash
%pagination{ "boundary-links" => "true", "page" => "currentPage", "on-select-page" => "onSelectPage(page)", "total-items" => "mailApps.length", "items-per-page" => "mailAppsPerPage" }
%br