/FIXME
%h1 {{mailApp.name}}

.container
  .row
    .well
      %a{ "href" => '', "ng-click" => "editMailApp(mailApp)" }
        = t("settings")

  .row
    .span4
      .well
        = link_to "#",
        :data => { :confirm => t(:are_you_sure?) },
        :class => "btn btn-danger del_selected" do
          %i.icon-trash
          = t("delete_selected")

        = link_to "#",
        :class => "btn btn-success read_selected", :method => :put, :remote => true do
          %i.icon-ok
          = t("read_selected")

        = link_to mark_all_messages_as_read_api_mail_application_path(@application),
          :class => "btn btn-success mark_all_as_read", :method => :put, :remote => true do
          %i.icon-ok
          = t("mark_all_as_read")

      = render "web/angular_templates/shared/messages_list"
    .span8
      %span{ "ng-show" => "resourceMessage" }
        = render "web/angular_templates/shared/message"

