/FIXME
%h1 {{mailApp.name}}

%pre
  %code
    = "config.action_mailer.smtp_settings = {"
    = " :address => '{{mailApp.settings.address}}',"
    = " :port => '{{mailApp.settings.port}}',"
    = " :user => '{{mailApp.name}}',"
    = " :password => '{{mailApp.settings.password}}'"
    = "}"