.row-fluid
  .span9
    %h1= t '.last_messages'
    %table.table.table-hover.mail_applications
      - @messages.each do |message|
        %tr
          %td.clicked
            .span5
              %strong= message.mail.subject
              %div
                = t(".sender")
                = message.sender
              %div
                = t(".recipient")
                = message.recipient
          %td.clicked
            .pull-left= message.completed_at
  .span3
    %h3= t '.mail_applications'
    - @applications.each do |application|
      %p= link_to application, mail_application_path(application)
    %p= link_to t(".new_application"), new_mail_application_path, class: "btn btn-success btn-large btn-block"
