.row-fluid
  .span9
    %h1= t '.last_messages'
    %table.table.table-hover.mail_applications
      - @messages.each do |message|
        %tr
          %td.clicked
            .span12
              %a{ :href => AngularUrlHelpers.mail_application_mail_message_path(message.mail_application_id, message.id), target: "_self", :title => "Meet the Team" }
                %strong= message.subject
              %div
                = t(".sender")
                = message.sender
              %div
                = t(".recipient")
                = message.recipient
          %td.clicked
            .pull-left= message.completed_at
  .span3
    .well
      %p= link_to t(".new_application"), AngularUrlHelpers::new_mail_application_path, class: "btn btn-success btn-block"
      %h6.table-header
        = t(".mail applications")

      %table.table.table-hover
        - @recently_active_apps.each do |app|
          %tr
            %td
              = link_to app, AngularUrlHelpers::mail_application_path(app)

            %td
              - if app.unread_mails_count > 0
                %span.badge.badge-info.pull-right
                  = app.unread_mails_count
        -if @apps_without_messages
          - @apps_without_messages.each do |app|
            %tr
              %td
                = link_to app, AngularUrlHelpers::mail_application_path(app)

      - if @avaliable_apps.count > 10
        %p= link_to t(".show_all"), AngularUrlHelpers::mail_applications_path, class: "btn btn-primary btn-block"
