%h2= t '.title'

%dl.dl-horizontal
  %dt= User.human_attribute_name(:providers)
  %dd
    .providers
      %ul.unstyled
      - @user.providers.each do |provider|
        %li
          = provider_image provider
          %i.label= provider
          = provider.nickname

  %dt= User.human_attribute_name(:admin)
  %dd= @user.admin?

.actions
  = link_to t('back'), users_path, class: "btn"
  = link_to t('edit'), edit_user_path(@user), class: "btn btn-primary"
