%td
  = hb :name
%td
  = hb :unread_mails_count
%td
  = hb :owner_nickname
%td

  = hb "view MailSandboxWeb.Helpers.Link",
  :contentBinding => "view.content.edit_link",
  :class=>"btn btn-info nowrap" do
    %i.icon-edit
      = h.t("edit")
  = hb "if view.content.delete_link" do
    = hb "view MailSandboxWeb.Helpers.DeleteLink",
    :confirm => h.t(:are_you_sure?),
    :contentBinding => "view.content.delete_link",
    :class=>"btn btn-danger nowrap" do
      %i.icon-trash
        = h.t("delete")
