= simple_form_for @application, :url => url do |f|
  = f.input :name, :input_html => {:class => "span3"}
  - if @application.persisted?
    = f.input :password, :as => :string, :disabled => true, :input_html => {:class => "span3"}
  .actions
    = f.button :submit
    = link_to t('cancel'), mail_applications_path, :class => "btn"
