= link_to t(".new"), new_mail_application_path, :class => "btn btn-primary"

%table.table.mail_applications
  %tr
    %th.name= MailApplication.human_attribute_name :name
    %th.unread_mails_count= t('.unread_mails_count')
    %th.owner= t('.owner')
    %th.edit
    %th.delete
  - @applications.each do |app|
    %tr{:'data-href' => mail_application_path(app)}
      %td= link_to app, app
      %td= app.unread_mails_count
      %td= app.owner.nickname

      %td
        = link_to edit_mail_application_path(app), :class => "btn btn-info nowrap" do
          %i.icon-edit
            = t("edit")

      - if can_delete_app?(app)
        %td
          = link_to mail_application_path(app),
          :data => { :confirm => t(:are_you_sure?) }, :method => :delete,
          :class => "btn btn-danger nowrap" do
            %i.icon-trash
              = t("delete")

= paginate @applications, :theme => "web"
%br

