%table.table.mail_applications
  %tr
    %th.name= MailApplication.human_attribute_name :name
    %th.edit
    %th.delete
  - @applications.each do |app|
    %tr{:'data-href' => mail_application_path(app)}
      %td= link_to app, app
      %td= link_to t("edit"), edit_mail_application_path(app)
      %td= link_to t("delete"), mail_application_path(app), :data => { :confirm => t(:are_you_sure?) }, :method => :delete

= paginate @applications, :theme => "web"
%br

= link_to t(".new"), new_mail_application_path, :class => "btn btn-primary"
