%h1= @application

%pre
  %code
    = "config.action_mailer.smtp_settings = {"
    = " :address => '#{current_host}',"
    = " :port => #{configus.mail_application.port},"
    = " :user_name => '#{@application.name}',"
    = " :password => '#{@application.password}'"
    = "}"

= link_to t(".mail_messages"), mail_application_mail_messages_path(@application)
%br
%br

- if @messages.any?
  = render "web/shared/messages_list", :messages => @messages
