%h1= @application

-#%p!= @application.mail_application_settings
%pre
  %code
    = "config.action_mailer.smtp_settings = {"
    = " :address => '10.40.35.81',"
    = " :port => 2525,"
    = " :user_name => '#{@application.name}',"
    = " :password => '#{@application.password}'"
    = "}"

= link_to t(".mail_messages"), mail_application_mail_messages_path(@application)

- if @application.mail_messages.any?
  %table.table
    %tr
      %th= MailMessage.human_attribute_name :recipient
      %th= MailMessage.human_attribute_name :sender
      %th= MailMessage.human_attribute_name :mail_application
      %th= MailMessage.human_attribute_name :completed_at
      %th= MailMessage.human_attribute_name :completed_at
      %th.show
    - @application.mail_messages.each do |message|
      %tr{:'data-href' => mail_message_path(message)}
        %td= message.recipient
        %td= message.sender
        %td= message.mail_application.name
        %td= message.completed_at
        %td= link_to t("show"), mail_message_path(message)

