%h1= @application

%pre
  %code
    = "config.action_mailer.smtp_settings = {"
    = " :address => '#{current_host}',"
    = " :port => #{configus.mail_application.port},"
    = " :user_name => '#{@application.name}',"
    = " :password => '#{@application.password}'"
    = "}"

.container
  .well
    /TODO move names to locale
    = simple_form_for @scope, default_search_form_options(url: mail_application_path(@application)) do |form|
      - block =->(model_name, attribute) { han(model_name, attribute) }
      - han_mail = block.curry['mail_message']
      .row-fluid
        - form.with_options as: :select2 do |f|
          .span4= f.input :state_eq, collection: model_states('mail_message'), placeholder: han_mail.call(:state)
          .span4= f.input :recipient_in, collection: recipient_list(@application), placeholder: han_mail.call(:recipient)
          .span4= f.input :sender_in, collection: sender_list(@application), placeholder: han_mail.call(:sender)
      .row-fluid
        .span4
          .input-append.date
            = form.input_field :completed_at_casted_date_eq, as: :datepicker, class: 'input-medium', placeholder: han_mail.call(:completed_at)
            %span.add-on
              %i.icon-calendar
        .span4= form.input :subject_cont, as: :string, placeholder: han_mail.call(:subject)
        .span4
          = form.submit "Apply" ,class: 'btn btn-info'
          = link_to mail_application_path(@application), :class => "btn btn-danger" do
            = t("clean")

.well

  = link_to "#",
  :data => { :confirm => t(:are_you_sure?) },
  :class => "btn btn-danger del_selected" do
    %i.icon-trash
    = t("delete_selected")

  = link_to "#",
  :class => "btn btn-success read_selected", :method => :put, :remote => true do
    %i.icon-ok
    = t("read_selected")

  = link_to mark_all_messages_as_read_api_mail_application_path(@application),
    :class => "btn btn-success mark_all_as_read", :method => :put, :remote => true do
    %i.icon-ok
    = t("mark_all_as_read")

- if @messages.any?
  = render "web/shared/messages_list", :messages => @messages
