%h1= @application

%pre
  %code
    = "config.action_mailer.smtp_settings = {"
    = " :address => '#{current_host}',"
    = " :port => #{configus.mail_application.port},"
    = " :user_name => '#{@application.name}',"
    = " :password => '#{@application.password}'"
    = "}"

-#= link_to t(".mail_messages"), mail_application_mail_messages_path(@application)

.well

  = link_to "#",
    :data => { :confirm => t(:are_you_sure?) },
    :class => "btn btn-danger del_selected" do
      %i.icon-trash
      = t("delete_selected")

  = link_to "#",
    :class => "btn btn-success read_selected", :method => :put, :remote => true do
      %i.icon-ok
      = t("read_selected")

  = link_to mark_all_messages_as_read_api_mail_application_path(@application),
    :class => "btn btn-success mark_all_as_read", :method => :put, :remote => true do
      %i.icon-ok
      = t("mark_all_as_read")

  = link_to destroy_all_messages_api_mail_application_path(@application),
    :data => { :confirm => t(:are_you_sure?) },
    :class => "btn btn-danger del_all",
    :method => :delete,
    :remote => true do
      %i.icon-trash
      = t("delete_all")

- if @messages.any?
  = render "web/shared/messages_list", :messages => @messages
