%table.table
  %tr
    %th= MailMessage.human_attribute_name :recipient
    %th= MailMessage.human_attribute_name :sender
    %th= MailMessage.human_attribute_name :data
    %th= MailMessage.human_attribute_name :completed_at
  - @messages.each do |message|
    %tr
      %td= message.recipient
      %td= message.sender
      %td= message.data
      %td= message.completed_at


