%table.table
  %tr
    %th
      = MailMessage.human_attribute_name :recipient
      \:
      =@message.recipient
  %tr
    %th
      = MailMessage.human_attribute_name :sender
      \:
      = @message.sender
  %tr
    %th
      = MailMessage.human_attribute_name :mail_application
      \:
      =@message.mail_application
  %tr
    %th
      = MailMessage.human_attribute_name :completed_at
      \:
      =@message.completed_at
  - if @mail.multipart?
    %tr
      %th
        = 'TODO: multipart messages'
  - else
    %tr
      %td
        = render 'mail', :mail => @mail
