.row-fluid
  .span9
    .hero-unit.padding40
      %h1 MailSandbox
      %p Fake SMTP server for development teams to test, view and share emails sent from the development and staging environments without spamming real customers.

    %p MailSandbox - песочница для писем со стейджинг серверов.

    %p MailSandbox служит для просмотра и сбора всех писем, которые уходят со стейджинг серверов, в одном месте вне зависимости от адреса назначения. Предназначен в основном для удобства тестирования как Rails приложений и изоляции этих приложений от внешнего мира, чтобы ненароком не устроить тестовую рассылку на реальные адреса. Является опенсорс проектом (Welcome to contribute).

    %p Чтобы начать использовать необходимо:
    %ul
      %li Зарегистрироваться, авторизоваться. Также вы можете использовать для входа соц. сети facebook или github
      %li Создать приложение в веб интерфейсе.
      %li Для Rails приложений получить готовый конфиг отправки писем по smtp и добавить его в config/environments/staging.rb
      %li Для других приложений настроить отправку писем по настройкам включая PLAIN авторизацию.
    %p В настройках приложения можно подключать других пользователей.

  .span3
    .well
      %h4 Please sign in
      .row-fluid
        = simple_form_for @session, url: user_session_path do |f|
          - f.with_options label: false do |ff|
            = ff.input_field :email, placeholder: "Email address", class: "span12"
            = ff.input_field :password, placeholder: "Password", class: "span12"

          = f.button :submit, class: "btn-primary pull-right"
          = f.input :remember_me, as: :boolean, wrapper: :label_after_input


        .clearfix
        %hr
        = link_to t(".forgot_password"), forget_user_password_path, target: "_self"
        |
        = link_to "Sign up", new_user_path, target: "_self"
        %hr

        %h6.social-login
          %span
            or log in with &nbsp;
          = link_to register_with_cpath(:facebook), target: "_self" do
            %i.micon-facebook-squared-1>
          = link_to register_with_cpath(:github), target: "_self" do
            %i.micon-github-circled
